{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% macro heading(name) %}
{%if (in_help) %}
<h3 id="{{name|lower}}">{{ name }}<a href="#{{name|lower}}" class="anchor"><i class="fas fa-link"></i></a></h3>
{%else%}
<h4>{{ name }}</h4>
{% endif %}
{% endmacro %}

{{ heading(t.syntax_section_emphasis) }}
<div class="row mb-10">
<div class="col-md-6 col-sm-12">
<pre class="block-compact">**<strong>bold</strong>**
*<em>italics</em>*
~~<strike>strikethrough</strike>~~
==<mark>mark</mark>==
</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
<strong>{{ t.syntax_emphasis_bold }}</strong><br/>
<em>{{ t.syntax_emphasis_italics }}</em><br/>
<strike>{{ t.syntax_emphasis_strikethrough }}</strike><br/>
<mark>{{ t.syntax_emphasis_mark }}</mark>
</div>
</div>
{{ t.syntax_emphasis_escape }}
<div class="row">
<div class="col-md-6 col-sm-12">
<pre class="block-compact">
\*{{ t.syntax_emphasis_literal_word }}\*
</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
\*{{ t.syntax_emphasis_literal_word }}\*
</div>
</div>

{{ heading(t.syntax_section_headings) }}

<div class="row align-bottom my-5">
<div class="col-md-6 col-sm-12 align-bottom"><code># h1 - {{ t.syntax_headings_large }}</code></div>
<div class="col-md-6 col-sm-12"><h1 class="p-0 m-0">h1 - {{ t.syntax_headings_large }}</h1></div>
</div>
<div class="row align-bottom my-5">
<div class="col-md-6 col-sm-12 align-bottom"><code>## h2 - {{ t.syntax_headings_medium }}</code></div>
<div class="col-md-6 col-sm-12"><h2 class="p-0 m-0">h2 - {{ t.syntax_headings_medium }}</h2></div>
</div>
<div class="row align-bottom my-5">
<div class="col-md-6 col-sm-12 align-bottom"><code>### h3 - {{ t.syntax_headings_small }}</code></div>
<div class="col-md-6 col-sm-12"><h3 class="p-0 m-0">h3 - {{ t.syntax_headings_small }}</h3></div>
</div>
<div class="row align-bottom my-5">
<div class="col-md-6 col-sm-12 align-bottom"><code>#### h4 - {{ t.syntax_headings_tiny }}</code></div>
<div class="col-md-6 col-sm-12"><h4 class="p-0 m-0">h4 - {{ t.syntax_headings_tiny }}</h4></div>
</div>
</table>
{{ heading(t.syntax_section_lists) }}
<div class="row">
<div class="col-md-6 col-sm-12">
<pre class="block-compact">- {{ t.syntax_lists_generic_item }}
- {{ t.syntax_lists_unordered }}</pre>
</div>
<div class="col-md-6 col-sm-12" style="padding-left:3rem;">
<ul class="p-0 m-0">
  <li class="p-0 m-0">{{ t.syntax_lists_generic_item }}</li>
  <li class="p-0 m-0">{{ t.syntax_lists_unordered }}</li>
</ul>
</div>
</div>
<br/>
<div class="row">
<div class="col-md-6 col-sm-12">
<pre class="block-compact">1. {{ t.syntax_lists_ordered_item }}
2. {{ t.syntax_lists_ordered }}
3. {{ t.syntax_lists_numbered }}</pre>
</div>
<div class="col-md-6 col-sm-12" style="padding-left:3rem;">
<ol class="p-0 m-0">
  <li class="p-0 m-0">{{ t.syntax_lists_ordered_item }}</li>
  <li class="p-0 m-0">{{ t.syntax_lists_ordered }}</li>
  <li class="p-0 m-0">{{ t.syntax_lists_numbered }}</li>
</ol>
</div>
</div>
<br/>
<div class="row">
<div class="col-md-6 col-sm-12">
<pre class="block-compact">1. {{ t.syntax_lists_numbered_with }}
    - {{ t.syntax_lists_nested }}
    - {{ t.syntax_lists_unordered }}
2. {{ t.syntax_lists_inside }}</pre>
</div>
<div class="col-md-6 col-sm-12" style="padding-left:3rem;">
<ol class="p-0 m-0">
  <li class="p-0 m-0">{{ t.syntax_lists_numbered_with }}
    <ul class="p-0 pl-20 m-0">
      <li class="p-0 m-0">{{ t.syntax_lists_nested }}</li>
      <li class="p-0 m-0">{{ t.syntax_lists_unordered }}</li>
    </ul>
  </li>
  <li class="p-0 m-0">{{ t.syntax_lists_inside }}</li>
</ol>
</div>
<p class="mt-0 pt-0"><em>{{ t.syntax_lists_note }}</em></p>
</div>

{{ heading(t.syntax_section_links) }}
<div class="row">
<div class="col-md-6 col-sm-12">
<pre class="block-compact text-wrap">[[WikiPage]]</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
<a href="#">WikiPage</a>
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-12">
{% if config.WIKILINK_STYLE.upper() == "LINKTITLE" %}
<pre class="block-compact text-wrap">[[WikiPage|{{ t.syntax_links_text_to_display }}]]</pre>
{% else %}
<pre class="block-compact text-wrap">[[{{ t.syntax_links_text_to_display }}|WikiPage]]</pre>
{% endif %}
</div>
<div class="col-md-6 col-sm-12 pl-5">
  <a href="#">{{ t.syntax_links_text_to_display }}</a>
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-12">
<pre class="block-compact text-wrap">http://www.example.com</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
  <a href="#">http://example.com</a>
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-12">
<pre class="block-compact text-wrap">[{{ t.syntax_links_link_with_text }}](http://example.com)</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
  <a href="#">{{ t.syntax_links_link_with_text }}</a>
</div>
</div>
{% if config.WIKILINK_STYLE.upper() == "LINKTITLE" %}
<p><em>{{ t.syntax_links_wikilink_compat_note }}</em></p>
{% endif %}

{{ heading(t.syntax_section_quotes) }}
<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact">&gt; {{ t.syntax_quotes_line1 }}
&gt; {{ t.syntax_quotes_line2 }}
&gt;&gt; {{ t.syntax_quotes_line3 }}
&gt;&gt; *<em>{{ t.syntax_quotes_line4 }}</em>*</pre>
</div>
<div class="col-md-6 col-sm-12 page p-5">
<blockquote class="m-t-0" style="margin-block-start: 0"><p style="margin-block-start: 0">{{ t.syntax_quotes_line1 }}
{{ t.syntax_quotes_line2 }}</p>
<blockquote style="margin-block-start: 0"><p style="margin-block-start: 0">{{ t.syntax_quotes_line3 }}</br>
<em>{{ t.syntax_quotes_line4 }}</em></p>
</blockquote>
</blockquote>
</div>
</div>

{{ heading(t.syntax_section_images) }}
<p>{{ t.syntax_images_paste }}</p>
<pre class="block-compact">![](http://www.example.com/image.jpg)</pre>
<p>{{ t.syntax_images_attachments }}</p>

{{ heading(t.syntax_section_tables) }}

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact">| Column 1 | Column 2 | Column 3 |
| -------- | -------- | -------- |
| John     | Doe      | Peach    |
| Mary     | Smith    | Banana   |</pre>
</div>
<div class="col-md-6 col-sm-12 p-5 page">
<table>
<thead><tr>
<th>{{ t.syntax_table_col1 }}</th>
<th>{{ t.syntax_table_col2 }}</th>
<th>{{ t.syntax_table_col3 }}</th>
</tr>
</thead>
<tbody>
<tr>
<td>John</td>
<td>Doe</td>
<td>Peach</td>
</tr>
<tr>
<td>Mary</td>
<td>Smith</td>
<td>Banana</td>
</tr>
</tbody>
</table>
</div>
</div>

{{ heading(t.syntax_section_code) }}

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact text-wrap">{{ t.syntax_code_inline_example | safe }}</pre></div>
<div class="col-md-6 col-sm-12 p-5">
{{ t.syntax_code_inline_example | safe }}
</div>
</div>


<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre>```
{{ t.syntax_code_blocks_example }}
```</pre></div>
<div class="col-md-6 col-sm-12 p-5">
<pre>{{ t.syntax_code_blocks_example }}</pre>
</div>
</div>


<div class="row">
{{ t.syntax_code_syntax_highlight }}
</div>

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact">```python
#!/usr/bin/env python
assert 1 + 1 == 2
print("Hello World!")
```</pre>
</div>
<div class="col-md-6 col-sm-12 p-5">
<div class="highlight"><pre class="block-compact"><span></span><span class=".highlight ch">#!/usr/bin/env python</span>
<span class=".highlight k">assert</span> <span class=".highlight mi">1</span> <span class=".highlight o">+</span> <span class=".highlight mi">1</span> <span class=".highlight o">==</span> <span class=".highlight mi">2</span>
<span class=".highlight nb">print</span><span class=".highlight p">(</span><span class=".highlight s2">&quot;Hello World!&quot;</span><span class=".highlight p">)</span>
</pre></div>
</div>
</div>

<div class="row">
{{ t.syntax_code_line_numbers }} <code>=</code> {{ t.syntax_code_line_numbers_suffix }}
</div>
<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact">```python=
print("Hello Line Numbers!")
```</pre>
</div>
<div class="col-md-6 col-sm-12">
<div class="highlight"><table class="highlighttable"><tbody><tr><td class="linenos"><div class="linenodiv"><pre><span class="normal">1</span></pre></div></td><td class="code"><pre class="code"><span class=".highlight nb">print</span><span class=".highlight p">(</span><span class=".highlight s2">"Hello Line Numbers!"</span><span class=".highlight p">)</span>
</pre></td></tr></tbody></table></div>
</div>
</div>

{{ heading(t.syntax_section_mathjax) }}

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact text-wrap">{{ t.syntax_mathjax_inline_label }} `$a^2+b^2=c^2$`</pre></div>
<div class="col-md-6 col-sm-12 p-5">
{{ t.syntax_mathjax_inline_label }} \(a^2+b^2=c^2\)
</div>
</div>

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
  <pre class="block-compact">
{{ t.syntax_mathjax_block_label }}
```math
a^2+b^2=c^2
```
</pre>
</div>
<div class="col-md-6 col-sm-12 p-5">
{{ t.syntax_mathjax_block_label }}</br>
\[a^2+b^2=c^2\]
</div>
</div>

\(\TeX\) {{ t.syntax_mathjax_tex_like }}

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact">
{{ t.syntax_mathjax_inline_label }} $a^2+b^2=c^2$
</pre>
</div>
<div class="col-md-6 col-sm-12 p-5">
{{ t.syntax_mathjax_inline_label }} \(a^2+b^2=c^2\)
</div>
</div>
<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact">
{{ t.syntax_mathjax_equation_label }}
$$a^2+b^2=c^2$$
</pre>
</div>
<div class="col-md-6 col-sm-12 p-5">
\[a^2+b^2=c^2\]
</div>
</div>

{{ heading(t.syntax_section_footnotes) }}

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact">
{{ t.syntax_footnotes_line1 }}[^1] {{ t.syntax_footnotes_line2 }}
{{ t.syntax_footnotes_line3 }}[^bignote]. {{ t.syntax_footnotes_line4 }}
{{ t.syntax_footnotes_line5 }}[^1] {{ t.syntax_footnotes_line6 }}

[^1]: {{ t.syntax_footnotes_single }}

[^bignote]: {{ t.syntax_footnotes_complex }}

    {{ t.syntax_footnotes_indent }}
    {{ t.syntax_footnotes_indent2 }}

    {{ t.syntax_footnotes_add }}
</pre>
</div>
<div class="col-md-6 col-sm-12 p-5">
{{ t.syntax_footnotes_line1 }}<sup class="footnote-ref" id="fnref-1"><a href="#fn-1">1</a></sup> {{ t.syntax_footnotes_line2 }} {{ t.syntax_footnotes_line3 }}<sup class="footnote-ref" id="fnref-2"><a href="#fn-2">2</a></sup>. {{ t.syntax_footnotes_line4 }} {{ t.syntax_footnotes_line5 }}<sup class="footnote-ref" id="fnref-1"><a href="#fn-1">1</a></sup> {{ t.syntax_footnotes_line6 }}
<hr/>
<section class="footnotes">
<ol>
<li id="fn-1" style="font-size: 1.2rem;"><i class="fas fa-long-arrow-alt-up"></i> <a href="#fnref-1" class="footnote">a</a>, <a href="#fnref-3" class="footnote">b</a> {{ t.syntax_footnotes_single }}</li>
<li id="fn-bignote" style="font-size: 1.2rem;"><a href="#fnref-2" class="footnote"><i class="fas fa-long-arrow-alt-up"></i></a><p style="display:inline; font-size: 1.2rem;"> {{ t.syntax_footnotes_complex }}</p>
<p style="font-size: 1.2rem;">{{ t.syntax_footnotes_indent }}
{{ t.syntax_footnotes_indent2 }}</p>
<p style="font-size: 1.2rem;">{{ t.syntax_footnotes_add }}</p></li>
<li id="fn-x-clacks-overhead" style="font-size: 1.2rem;"><a href="#" class="footnote"><i class="fas fa-long-arrow-alt-up"></i></a> GNU Terry Pratchett.</li>
</ol>
</section>
</div>
</div> {# row #}

{{ heading(t.syntax_section_abbreviations) }}

{{ t.syntax_abbreviations_desc }}

<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre>
{{ t.syntax_abbr_example }}
*[HTML]: Hyper Text Markup Language
*[W3C]: World Wide Web Consortium</pre></div>

<div class="col-md-6 col-sm-12 p-5">
<p>{{ t.syntax_abbr_example | replace('HTML', '<abbr title="Hyper Text Markup Language">HTML</abbr>') | replace('W3C', '<abbr title="World Wide Web Consortium">W3C</abbr>') | safe }}</p>
</div>
</div>

{{ heading(t.syntax_section_blocks) }}

{{ t.syntax_blocks_desc }}

<h4>{{ t.syntax_blocks_fancy_title }}</h4>
<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact">
::: info
# {{ t.syntax_blocks_head }}
{{ t.syntax_blocks_formatted }}
:::
</pre>
</div>
<div class="col-md-6 col-sm-12 p-5">
<div class="alert alert-primary mb-10"><h4 class="alert-heading">{{ t.syntax_blocks_head_rendered }}</h4>
{{ t.syntax_blocks_formatted_rendered | safe }}</div>
</div>
</div> {# row #}
{{ t.syntax_blocks_block_styles }} <span class="alert alert-primary text-monospace" style="padding: 0.2rem">info</span>, <span class="alert alert-success text-monospace" style="padding: 0.2rem">success</span>, <span class="alert alert-secondary text-monospace" style="padding: 0.2rem">warning</span>, <span class="alert alert-danger text-monospace" style="padding: 0.2rem">danger</span> {{ t.syntax_and }} <span class="alert text-monospace" style="padding: 0.2rem">none</span>.

<h4>{{ t.syntax_blocks_spoiler_title }}</h4>
<div class="row my-20">
<div class="col-md-6 col-sm-12">
<pre class="block-compact">
&gt;! {{ t.syntax_blocks_spoiler_line1 }}
&gt;! {{ t.syntax_blocks_spoiler_line2 }}
</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
    <div class="spoiler">
      <button class="spoiler-button"><i class="far fa-eye-slash"></i></button>
    </div>
</div>
</div>

<h4>{{ t.syntax_blocks_folded_title }}</h4>
<div class="row my-20 h-100">
<div class="col-md-6 col-sm-12">
<pre class="block-compact">
&gt;| # {{ t.syntax_blocks_folded_summary }}
&gt;| {{ t.syntax_blocks_folded_detail }}
</pre>
</div>
<div class="col-md-6 col-sm-12 pl-5">
<details class="collapse-panel">
<summary class="collapse-header">
{{ t.syntax_blocks_folded_summary }}
</summary>
<div class="collapse-content"><p>{{ t.syntax_blocks_folded_detail }}</p></div></details>
</div>
</div>

<h4>{{ t.syntax_blocks_alerts_title }}</h4>
<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact">
&gt; [!NOTE]
&gt; {{ t.syntax_blocks_alert_line1 }}
&gt; {{ t.syntax_blocks_alert_line2 }}
</pre>
</div>
<div class="col-md-6 col-sm-12 p-5">
<div class="quote-alert quote-alert-note" style="margin:0;"><div class="quote-alert-header"><i class="fas fa-info-circle"></i> {{ t.syntax_blocks_alert_note }}</div><p>{{ t.syntax_blocks_alert_line1 }} {{ t.syntax_blocks_alert_line2 }}</p></div>
</div>
</div> {# row #}
{{ t.syntax_blocks_alerts_available }} <code>[!NOTE]</code>, <code>[!TIP]</code>, <code>[!IMPORTANT]</code>, <code>[!WARNING]</code> {{ t.syntax_and }} <code>[!CAUTION]</code>.

{{ heading(t.syntax_section_diagrams) }}

{{ t.syntax_diagrams_desc }} <a href="https://mermaid.js.org/">Mermaid</a> {{ t.syntax_diagrams_desc2 }}
<div class="row">
<div class="col-md-6 col-sm-12 p-5">
<pre class="block-compact">
```mermaid
flowchart LR
  A[An Otter Wiki]-- supports ---Mermaid
```
</pre>
</div>
<div class="col-md-6 col-sm-12 p-5">
<style type="text/css">
    .example-light { display: block; }
    .dark-mode .example-light { display: none; }
    .example-dark { display: none; }
    .dark-mode .example-dark { display: block; }
</style>
<img class="example-light" src="{{ url_for("static", filename="img/mermaid-example-light.svg")}}">
<img class="example-dark" src="{{ url_for("static", filename="img/mermaid-example-dark.svg")}}">

</div>
</div> {# row #}

{{ t.syntax_diagrams_more_info }} <a href="https://mermaid.js.org/intro/syntax-reference.html">{{ t.syntax_diagrams_more_info2 }}</a>.

{{ heading(t.syntax_section_remark) }}
{{ t.syntax_remark_desc }}
<a href="http://daringfireball.net/projects/markdown/basics">{{ t.syntax_remark_introduction }}</a> {{ t.syntax_and }}
<a href="http://daringfireball.net/projects/markdown/syntax">{{ t.syntax_remark_syntax }}</a> {{ t.syntax_remark_desc2 }}

{{ t.syntax_remark_note }}
