<form hx-post="{{ url_for("housekeeping") }}" hx-target="this" hx-indicator="#emptypages_indicator">
<input type="hidden" name="task" value="emptypages">
{% if stats and pages %}
<div class="mb-20">
<p>{{ t.housekeeping_emptypages_review.format(count=pages|length) }}
{{ t.housekeeping_emptypages_checked.format(count=stats.pages, duration=stats.duration) }}
</p>
<input class="btn btn-primary" type="submit" name="refresh" value="{{ t.housekeeping_emptypages_refresh_btn }}"/>
<input class="btn btn-danger" type="submit" name="clean" value="{{ t.housekeeping_emptypages_delete_btn }}"/>
<span id="emptypages_indicator" class="htmx-indicator"><i class="fas fa-spinner fa-spin"></i></span>
</div>
<div class="table-responsive table-striped">
<table class="table compact">
    <thead>
        <tr>
            <td style="width:1px;">
                <div class="custom-checkbox">
                    <input type="checkbox" id="checkbox-b-all" value="">
                  <label for="checkbox-b-all" onclick="otterwiki.toggle_invert_by_name('delete_empty_page');"></label>
                </div>
            </td>
            <td style="width:1px;"><strong>{{ t.housekeeping_emptypages_col_page }}</strong></td>
            <td><strong>{{ t.housekeeping_emptypages_col_analysis }}</strong></td>
            <td style="width:1px;text-align:right;">&nbsp;</td>
        </tr>
    </thead>
    <tbody>
{% for filename, reason in pages.items() %}
        <tr>
            <td>
              <div class="custom-checkbox">
                  <input type="checkbox" id="checkbox-b-{{loop.index}}" name="delete_empty_page" value="{{filename}}">
                <label for="checkbox-b-{{loop.index}}"></label>
              </div>
            </td>
            <td>
                <a href="{{ url_for('view', path=filename) }}">{{filename}}</a>&nbsp;
            </td>
            <td>
                {{reason}}
            </td>
            <td style="width:1px;text-align:right;padding-right:.5rem;">
                <a href="{{ url_for('delete', path=filename)}}" class="text-danger""><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
{% endfor %}
    </tboby>
</table>

</div>
{% else %}
{% if stats %}
<p>{{ t.housekeeping_emptypages_none_found.format(count=stats.pages, duration=stats.duration) }}</p>
{% else %}
<p>{{ t.housekeeping_emptypages_start }}</p>
{% endif %}
<div>
    <input class="btn btn-primary" type="submit" name="refresh" value="{{ t.housekeeping_emptypages_analyse_btn }}"/>
    <span id="emptypages_indicator" class="htmx-indicator"><i class="fas fa-spinner fa-spin"></i></span>
</div>
{% endif %}
</form>
