{# vim: set et ts=8 sts=4 sw=4 ai ft=jinja.html: #}
{% extends "settings.html" %}
{% block content %}
<h2 id="settings">{{ t.housekeeping_title }}</h2>
<div class="card m-auto m-lg-20">
<div class="mw-full">
<h3 class="card-title">{{ t.housekeeping_drafts_title }}</h3>
{% if drafts %}
<form action="{{ url_for("housekeeping") }}" method="POST" autocomplete="off">
<input type="hidden" name="task" value="drafts">
<p>{{ t.housekeeping_drafts_desc }}
<div class="table-responsive table-striped">
<table class="table compact">
    <thead>
        <tr>
            <td style="width:1px;">
                <div class="custom-checkbox">
                    <input type="checkbox" id="checkbox-a-all" value="">
                  <label for="checkbox-a-all" onclick="otterwiki.toggle_invert_by_name('delete_draft');"></label>
                </div>
            </td>
            <td><strong>{{ t.housekeeping_col_page }}</strong></td>
            <td><strong>{{ t.housekeeping_col_draft_created }}</strong></td>
            <td><strong>{{ t.housekeeping_col_revision }}</strong></td>
            <td><strong>{{ t.housekeeping_col_page_last_changed }}</strong></td>
        </tr>
    </thead>
    <tbody>
{% for draft in drafts %}
    <tr>
        <td>
          <div class="custom-checkbox">
              <input type="checkbox" id="checkbox-a-{{draft.id}}" name="delete_draft" value="{{draft.id}}">
            <label for="checkbox-a-{{draft.id}}"></label>
          </div>
        </td>
        <td>
            {{draft.pagepath}}
            <a href="{{ url_for('edit', path=draft.pagepath) }}"><i class="fas fa-edit"></i></a>&nbsp;
        </td>
        <td>
            {{draft.datetime|format_datetime}}
        </td>
        <td>
            {% if draft.revision_text %}
            {{draft.revision_text}}
            {% else %}
            -/-
            {% endif %}
        </td>
        <td>
            {% if draft.page_datetime %}
            {{draft.page_datetime|format_datetime}}
            {% else %}
            -/-
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
</div>
<div class="mt-10">
    <input class="btn btn-danger" type="submit" value="{{ t.housekeeping_delete_selected_btn }}"/>
</div>
</form>
{% else %}
<p><em>{{ t.housekeeping_no_drafts }}</em></p>
{% endif %}
</div>
</div>
{#-#}
{% if has_permission("WRITE") %}
<div class="card m-auto m-lg-20">
<div class="mw-full">
<h3 class="card-title">{{ t.housekeeping_empty_pages_title }}</h3>
{% include 'tools/housekeeping_emptypages.html' %}
</div>
</div>
{#-#}
<div class="card m-auto m-lg-20">
<div class="mw-full">
<h3 class="card-title">{{ t.housekeeping_broken_wikilinks_title }}</h3>
{% include 'tools/housekeeping_brokenwikilinks.html' %}
</div>
</div>
{% endif %}
{#-#}
{% endblock %}{# content #}
{% block js %}
{{ super() }}
<script src="{{ url_for("static", filename="js/htmx.2.0.6.min.js") }}" type="text/javascript" charset="utf-8"></script>
{% endblock js %}
