{# vim: set et ts=8 sts=4 sw=4 ai ft=jinja.html: #}
{% extends "settings.html" %}
{% block content %}
{##}
<div class="card m-auto m-lg-20">
<div class="mw-full">
    <form action="{{ url_for("admin_content_and_editing") }}" method="POST">
<h2 class="card-title">{{ t.admin_content_title }}</h2>
    <div class="form-group">
        <label for="commit_message" class="required">{{ t.admin_commit_message_label }}</label>
        <select class="form-control w-md-600" id="commit_message" name="commit_message">
{% for mode in [("REQUIRED", t.admin_commit_message_required),("OPTIONAL", t.admin_commit_message_optional),("DISABLED", t.admin_commit_message_disabled)] %}
            <option value="{{mode[0]}}"{%if config.COMMIT_MESSAGE == mode[0] %} selected="selected"{%endif%}>{{mode[1]}}</option>
{% endfor %}
        </select>
    </div>
{##}
  <div class="form-group">
    <label for="default_commit_message">{{ t.admin_default_commit_message_label }}</label>
    <input name="default_commit_message" type="text" class="form-control" id="default_commit_message" value="{{ config.DEFAULT_COMMIT_MESSAGE}}" placeholder="{{ t.admin_default_commit_message_placeholder }}">
    <div class="form-text">{{ t.admin_default_commit_message_help | safe }}</div>
  </div>
{##}
    <div class="form-group">
      <div class="custom-checkbox">
        <input {%if config.RETAIN_PAGE_NAME_CASE %}checked{% endif %} type="checkbox" id="retain_page_name_case"
          name="retain_page_name_case"
          value="True">
        <label for="retain_page_name_case">{{ t.admin_retain_page_name_case_label }}</label>
        <div class="mt-5">{{ t.admin_retain_page_name_case_help | safe }}</div>
      </div>
    </div>
{##}
    <div class="form-group">
      <div class="custom-checkbox">
        <input {%if config.TREAT_UNDERSCORE_AS_SPACE_FOR_TITLES %}checked{% endif %} type="checkbox" id="treat_underscore_as_space_for_titles"
          name="treat_underscore_as_space_for_titles"
          value="True">
        <label for="treat_underscore_as_space_for_titles">{{ t.admin_treat_underscore_label }}</label>
        <div class="mt-5">{{ t.admin_treat_underscore_help | safe }}</div>
      </div>
    </div>
{##}
    <div class="form-group">
        <label for="sidebar_menutree_mode">{{ t.admin_wikilink_style_label }}</label>
        <select class="form-control w-md-600" id="wikilink_style" name="wikilink_style">
{% for mode in [("", t.admin_wikilink_style_default),("LINKTITLE", t.admin_wikilink_style_compat),] %}
            <option value="{{mode[0]}}"{%if config.WIKILINK_STYLE == mode[0] %} selected="selected"{%endif%}>{{mode[1]}}</option>
{% endfor %}
        </select>
        <div class="mt-5">{{ t.admin_wikilink_style_help | safe }}</div>
    </div>
{##}
<div class="form-text pt-0 mt-0 mb-20"></div>
{##}
  <div class="mt-10">
    <input class="btn btn-primary" name="update_preferences" type="submit" value="{{ t.admin_save_preferences_btn }}">
  </div>
</form>
</div>
</div>
{% endblock %}
