{#- vim: set et ts=8 sts=4 sw=4 ai ft=jinja.html: #}
{% extends "settings.html" %}
{% block content %}
<div class="card m-auto m-lg-20" id="sidebar_preferences">
<div class="mw-full">
<form action="{{ url_for("admin_permissions_and_registration") }}" method="POST">
<h3 class="card-title" id="permissions_and_registration">{{ t.admin_permissions_title }}</h3>
  <div class="form-group">
    <div>
        {{ t.admin_permissions_note | safe }}
    </div>
  </div>
{% for permission in ["READ","WRITE","ATTACHMENT"] %}
  <div class="form-group">
      <label for="{{permission}}_permission" class="required">
{%- if permission == "ATTACHMENT" %}
          {{ t.admin_permission_attachment }}
{%- elif permission == "READ" %}
          {{ t.admin_permission_read }}
{%- else %}
          {{ t.admin_permission_write }}
{%- endif %}
      </label>
      <select class="form-control w-md-400" id="{{permission}}_permission" name="{{permission}}_access">
        {% for permission_option in ["ANONYMOUS","REGISTERED","APPROVED","ADMIN"] %}
        <option {% if config[permission + "_ACCESS"] == permission_option -%}
selected="selected"
{%- endif %} value="{{permission_option}}">{{ t["admin_permission_" + permission_option | lower] }}</option>
        {% endfor %}
    </select>
  </div>
{% endfor %}
{##}
<div class="form-text pt-0 mt-0 mb-20"></div>
{##}
  <div class="form-group">
    <div class="custom-checkbox">
      <input {%if config.DISABLE_REGISTRATION %}checked{% endif %} type="checkbox" id="disable_registration" name="disable_registration" value="True">
      <label for="disable_registration">{{ t.admin_disable_registration_label }}</label>
    </div>
    <div class="form-text">
      {{ t.admin_disable_registration_help }}
    </div>
  </div>
  {##}
  <div class="form-group">
    <div class="custom-checkbox">
      <input {%if config.EMAIL_NEEDS_CONFIRMATION %}checked{% endif %} type="checkbox" id="email_confirmation" name="email_needs_confirmation" value="True">
      <label for="email_confirmation">{{ t.admin_email_confirmation_label }}</label>
    </div>
    <div class="form-text">
      {{ t.admin_email_confirmation_help }}
    </div>
  </div>
{##}
  <div class="form-group">
    <div class="custom-checkbox">
      <input {%if config.AUTO_APPROVAL %}checked{% endif %} type="checkbox" id="auto_approval" name="auto_approval" value="True">
      <label for="auto_approval">{{ t.admin_auto_approval_label }}</label>
    </div>
    <div class="form-text">
      {{ t.admin_auto_approval_help }}
    </div>
  </div>
{##}
  <div class="form-group">
    <div class="custom-checkbox">
      <input {%if config.NOTIFY_ADMINS_ON_REGISTER %}checked{% endif %} type="checkbox" id="notify_admins" name="notify_admins_on_register" value="True">
      <label for="notify_admins">{{ t.admin_notify_admins_label }}</label>
    </div>
    <div class="form-text">
      {{ t.admin_notify_admins_help }}
    </div>
  </div>
{##}
  <div class="form-group">
    <div class="custom-checkbox">
      <input {%if config.NOTIFY_USER_ON_APPROVAL %}checked="checked"{% endif %} type="checkbox" id="notify_user_on_approval" name="notify_user_on_approval" value="True">
      <label for="notify_user_on_approval">{{ t.admin_notify_user_approval_label }}</label>
    </div>
    <div class="form-text">
      {{ t.admin_notify_user_approval_help }}
    </div>
  </div>
  <div class="mt-10">
    <input class="btn btn-primary" name="update_preferences" type="submit" value="{{ t.admin_save_preferences_btn }}">
  </div>
{##}
</form>
</div>
</div>
{% endblock %}
