{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "wiki.html" %}
{% block title %}
  <title>{{ t.about_title }}</title>
{% endblock %}
{% block head %}
{{ super() }}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ url_for("index") }}">
<meta property="og:title" content="{{ t.about_og_title }}">
<meta property="og:description" content="{{ t.about_og_description }}">
<meta property="og:image" content="{{ url_for("static", filename="img/otter.png") }}">
{% endblock %}
{% block menu %}
{{ super() }}
{% include "snippets/documentation-menu.html" %}
{% endblock %}
{% block content %}
<div class="page">
{{htmlcontent|safe}}
Version {{__version__}} {% if os_getenv("GIT_TAG", None) %} ({{ os_getenv("GIT_TAG","") }}) {% endif %}
</div>
{{content}}
{% endblock %}
