{# vim: set et ts=8 sts=4 sw=4 ai ft=jinja.html: #}
{% extends "settings.html" %}
{% block content %}
{#
#}
<div class="card m-auto m-lg-20" id="application_preferences">
<div class="mw-full">
<form action="{{ url_for("admin") }}" method="POST">
<h2 class="card-title">{{ t.admin_app_preferences_title }}</h2>
{##}
  <div class="form-group">
    <label for="site_name" class="required">{{ t.admin_site_name_label }}</label>
    <input name="site_name" type="text" placeholder="{{ t.admin_site_name_placeholder }}" class="form-control" id="site_name" value="{{ config.SITE_NAME or "" }}">
    <div class="form-text">
      {{ t.admin_site_name_help }}
    </div>
  </div>
{##}
  <div class="form-group">
    <label for="site_name">{{ t.admin_server_name_label }}</label>
    <input name="server_name" type="text" placeholder="{{ url_for("index", _external=True).rpartition("//")[-1].partition(":")[0].partition("/")[0] }}" class="form-control" id="site_name" value="{{ config.SERVER_NAME or "" }}">
    <div class="form-text">
      {{ t.admin_server_name_help }}
    </div>
  </div>
{##}
  <div class="form-group">
    <label for="site_description">{{ t.admin_site_description_label }}</label>
    <input name="site_description" type="text" placeholder="{{ t.admin_site_description_placeholder }}" class="form-control" id="site_description" value="{{ config.SITE_DESCRIPTION or "" }}">
    <div class="form-text">
      {{ t.admin_site_description_help }}
    </div>
  </div>
{##}
  <div class="form-group">
      <label for="site-logo">{{ t.admin_site_logo_label }}</label>{# using site-logo here is not a typo, chrome complained about name/id mismatches #}
    <input name="site_logo" type="text" placeholder="{{ t.admin_site_logo_placeholder }}" class="form-control" id="site-logo" value="{{ config.SITE_LOGO or "" }}">
    <div class="form-text">
        {{ t.admin_site_logo_help }}
    </div>
  </div>
{##}
  <div class="form-group">
      <label for="site-lang">{{ t.admin_site_lang_label }}</label>
    <input name="site_lang" type="text" placeholder="/static/img/otterhead.png" class="form-control" id="site-lang" value="{{ config.SITE_LANG or "" }}">
    <div class="form-text">
        {{ t.admin_site_lang_help }}
    </div>
  </div>
{##}
    <div class="form-group">
        <label for="robots_txt">{{ t.admin_robots_label }}</label>
        <select class="form-control w-md-400" id="robots_txt" name="robots_txt">
{% for mode in [("allow", t.admin_robots_allow),("disallow", t.admin_robots_disallow)] %}
            <option value="{{mode[0]}}"{%if config.ROBOTS_TXT == mode[0] %} selected="selected"{%endif%}>{{mode[1]}}</option>
{% endfor %}
        </select>
        <div class="form-text">
            {{ t.admin_robots_help }}
        </div>
    </div>
{##}
  <div class="form-group">
    <label for="home_page">{{ t.admin_home_page_label }}</label>
    <input name="home_page" type="text" placeholder="{{ t.admin_home_page_placeholder }}" class="form-control" id="home_page" value="{{ config.HOME_PAGE or "" }}">
    <div class="form-text">
      {{ t.admin_home_page_help_intro }}
      <ul>
        <li><strong>{{ t.admin_home_page_help_empty }}</strong></li>
        <li><strong>{{ t.admin_home_page_help_path }}</strong></li>
        <li><strong>{{ t.admin_home_page_help_special }}</strong></li>
      </ul>
      <em>{{ t.admin_home_page_help_note }}</em>
    </div>
  </div>
{##}
  <div class="form-group">
    <label for="site_icon">{{ t.admin_site_icon_label }}</label>
    <input name="site_icon" type="text" placeholder="{{ t.admin_site_icon_placeholder }}" class="form-control" id="site_icon" value="{{ config.SITE_ICON or "" }}">
    <div class="form-text">
        {{ t.admin_site_icon_help }}
    </div>
  </div>
{##}
  <div class="form-group">
    <div class="custom-checkbox">
      <input {%if config.HIDE_LOGO %}checked{% endif %} type="checkbox" id="hide_logo" name="hide_logo" value="True">
      <label for="hide_logo">{{ t.admin_hide_logo_label }}</label>
    </div>
    <div class="form-text">
        {{ t.admin_hide_logo_help }}
    </div>
  </div>
{##}
  <div class="mt-10">
    <input class="btn btn-primary" name="update_preferences" type="submit" value="{{ t.admin_save_preferences_btn }}">
  </div>
</form>
</div>
</div>{# card #}

{% endblock %}
