{#- vim: set et ts=8 sts=4 sw=4 ai: -#}
{% extends "page.html" %}

{% block content %}
<div class="card">
    <h2 class="card-title">{{ t.draft_title }}</h2>

    <div class="mt-5 mb-15">
        {{ t.draft_exists_msg.format(pagepath=pagepath)|safe }} <span title="{{draft_datetime|format_datetime}}">{{draft_datetime|format_datetime("deltanow")}} {{ t.draft_ago }}</span>.
    </div>

    <div class="d-flex">
        <form action="{{ url_for("edit", path=pagepath) }}" method="POST" class="mr-15">
            <input type="hidden" name="draft" value="edit" />
            <input class="btn btn-primary" type="submit" name="submit" value="{{ t.draft_continue_btn }}" />
        </form>
        <form action="{{ url_for("edit", path=pagepath) }}" method="POST">
            <input type="hidden" name="draft" value="discard" />
            <input class="btn" type="submit" name="submit" value="{{ t.draft_discard_btn }}" />
        </form>
    </div>
</div>
<table class="table table-inner-bordered">
  <thead>
    <tr>
        <td><em>{{ t.draft_col_draft }}</em></td>
{% if content %}
      <td>{{ t.draft_col_stored }}</td>
{% endif %}
    </tr>
  </thead>
  <tbody>
    <tr class="align-top">
      <td>{{draft_content|safe}}</td>
{% if content %}
      <td>{{content|safe}}</td>
{% endif %}
    </tr>
  </tbody>
</table>
{% endblock %}
