{# vim: set et ts=8 sts=4 sw=4 ai: #}
{% extends "form.html" %}
{% block formcontent %}
<form action="{{url_for("lost_password")}}" method="POST" class="form-inline">{# class="w-400 mw-full" <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% --> #}
  <div class="form-group">
    <label for="email" class="required">{{ t.lost_password_email_label }}</label>
    <input type="text" class="form-control" name="email" id="email" placeholder="{{ t.lost_password_email_placeholder }}" autofocus>
  </div>
  <div class="form-group">
    <div class="form-text">
        {{ t.lost_password_hint }}
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="{{ t.lost_password_submit }}">
  <a href="{{ url_for("login") }}" class="btn btn-link" role="button">{{ t.lost_password_login_link }}</a>
  {% if not config.DISABLE_REGISTRATION %}
  <a href="{{ url_for("register") }}" class="btn btn-link" role="button">{{ t.lost_password_register_link }}</a>
  {% endif %}
</form>
{% endblock %}
